.pop-up_hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  background-color: aquamarine;
  border-radius: 7px;
  border: none;
  z-index: 999;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.hover__btn{
  width: 200px;
  margin: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.board-select{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: coral;
  gap: 20px;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  transform: translate(-50%, 20%);
}

.board-btn{
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-modal{
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: coral;
  transform: translate(-50%, 10%);
  border-radius: 10px;
  gap: 10px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}