*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Merriweather', sans-serif;
}

body{
  background-color: rgba(211, 211, 211, 0.2);
}

.wrapper{
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 270px));
  justify-content: space-around;
  gap: 40px;

  @media (max-width: 840px) {
    width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}